<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/index">FAVRIK</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu">
            </i></button><a href="/login"><i class="fa fa-user"></i></a>
            </i></button><a href="/home"><i class="fa fa-home"></i></a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/events">Eventos</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/OurSpace">Our Space</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/AboutUs">About US</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('assets/img/fabrik-header2.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">CONTACT US</h1>
                        <p class="intro-text">Puedes preguntarnos cualquier duda que puedas tener acerca de nuestros servicios o eventos.</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <section class="contact-clean">
            <form method="post">
                <h2 class="text-center">Contact us</h2>
                <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Escribe tu nombre" style="width: 25%; margin: 0 auto" required="obligatorio"></div>
                <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Escribe tu email" style="width: 25%; margin: 0 auto" required="obligatorio"></div>
                <div class="mb-3"><input class="form-control" type="number" name="tel" placeholder="Escribe tu teléfono" style="width: 25%; margin: 0 auto"></div>
                <div class="mb-3"><textarea class="form-control" name="message" placeholder="Deja aquí tu mensaje" rows="14" style="width: 25%; margin: 0 auto"></textarea></div>
                <div class="mb-3"><button class="btn btn-primary" type="submit">send </button></div>
            </form>
        </section>
    </section>
    <section class="text-center content-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact us</h2>
                    <p>Además, puedes ponerte en contacto a través de nuestras redes sociales.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button" style="width: 200px;"><i class="fa fa-instagram fa-fw"></i><span class="network-name">&nbsp;Instagram</span></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button" style="width: 200px"><i class="fa fa-twitter fa-fw"></i><span class="network-name">&nbsp;Twitter</span></button></li>
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button" style="width: 200px;"><i class="fa fa-facebook-square fa-fw"></i><span class="network-name">&nbsp;facebook</span></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="map-clean"></div>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;Brand 2022</p>
        </div>
    </footer>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/grayscale.js"></script>
</body>
</html>