<!DOCTYPE html>
<html lang="ES">

{{> head}}

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="/index">FAVRIK</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu">
        </button><a href="/login"><i class="fa fa-user"></i></a>
        </button><a href="/home"><i class="fa fa-home"></i></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item nav-link"><a class="nav-link" href="/index">Home</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="/events">Eventos</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image:url('/assets/img/fabrik-header2.jpg');">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">UPS!Something went wrong</h1>
                    <p class="intro-text">Sentimos que estemos viendo esto, algo ha ido mal,intenta volver al menú principal<br></p>
                </div>
            </div>
        </div>
    </div>
</header>



<footer>
    <div class="container text-center">
        <p>Copyright ©&nbsp;FAVRIK 2022</p>
    </div>
</footer>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/grayscale.js"></script>
</body>

</html>