<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Event {{evento.cod}} - FAVRIK</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="index.html">FAVRIK</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu">
            <i class="fa fa-bars"></i></button><a href="login.html"><i class="fa fa-user"></i></a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/events">Eventos</a></li>
                </ul>
            </div>
        </div>
    </nav>
<header class="masthead" style="background-image:url('/assets/img/fabrik-header2.jpg');">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">{{evento.nombre}}</h1>
                    <p class="intro-text">{{evento.descripcion}}<br></p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="text-center content-section" id="tickets">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Comprar Entradas</h2>
                <p>
                <div class="form-group">
                <form class="form-control" method="post" action="/events/{{evento.cod}}/newticket"><input class="bg-light form-control" type="text" name="datos" placeholder="Nombre y Apellidos" />
                <button type="sumbit" class="btn btn-primary">Sacar Ticket</button><br></form>
            </div>

                </p>
            </div>
        </div>
    </div>
</section>

<div class="map-clean"><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2119.706608734698!2d-3.8636448511875536!3d40.33523343422499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e87d5382393%3A0xd4cb712bec4c73c7!2sPapa%20John&#39;s%20Pizza!5e0!3m2!1ses!2ses!4v1646408922453!5m2!1ses!2ses" width="100%" height="450"></iframe></div>
<footer>
    <div class="container text-center">
        <p>Copyright ©&nbsp;FAVRIK 2022</p>
    </div>
</footer>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/grayscale.js"></script>
</body>

</html>