<!DOCTYPE html>
<html>

{{> head}}

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="/index">FAVRIK</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu">
    </button><a href="/login"><i class="fa fa-user"></i></a>
        <a href="/home"><i class="fa fa-home"></i></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item nav-link"><a class="nav-link " href="/home">Admin Page</a></li>
                <li class="nav-item nav-link"><a class="nav-link " href="/GestionUser">Gestion Users</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image:url('assets/img/fabrik-header2.jpg');">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="intro-text">¡Hola ADMIN, recuerda que aquí puedes crear nuevos eventos!</p><a class="btn btn-link btn-circle" role="button" href="#eventform"><i class="fa fa-angle-double-down animated"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="text-center content-section" id="eventform">
    <div class="container">
        <div class="row" >
            <div class="col-lg-8 mx-auto">
                <h2>Crear Evento</h2>
                <form class="form-control" method="post" action="/events/new">
                    <input class="bg-light form-control" type="text" name="name" placeholder="Nombre del event" />
                    <input class="bg-light form-control" type="text" name="cod" placeholder="Código del event" />
                    <input class="bg-light form-control" type="date" name="date" placeholder="dd/mm/yyy" />
                    <select name="gender">
                        <optgroup label="gender">
                            <option  value="techno" >Techno</option>
                            <option  value="reggaeton">Reggaeton</option>
                            <option  value="trap">Trap</option>
                        </optgroup>
                    </select>
                    <textarea name="description" id="descripcion" ></textarea>
                    <script> CKEDITOR.replace( 'descripcion' );</script>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button type="sumbit" class="btn btn-primary">Create Event</button><br></form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" >
            <div class="col-lg-8 mx-auto">
                <h2>Actualizar Evento</h2>
                <form class="form-control" method="post" action="/events/update">
                    <input class="bg-light form-control" type="text" name="name" placeholder="Nombre del event" />
                    <input class="bg-light form-control" type="text" name="cod" placeholder="Código del event" />
                    <input class="bg-light form-control" type="date" name="date" placeholder="dd/mm/yyy" />
                    <select name="gender">
                        <optgroup label="gender">
                            <option  value="techno" >Techno</option>
                            <option  value="reggaeton">Reggaeton</option>
                            <option  value="trap">Trap</option>
                        </optgroup>
                    </select>
                    <textarea name="description" id="descripcion1" ></textarea>
                    <script> CKEDITOR.replace( 'descripcion1');</script>
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button type="sumbit" class="btn btn-primary">Update Event</button><br></form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" >
            <div class="col-lg-8 mx-auto">
                <h2>Eliminar Evento</h2>
                <form class="form-control" method="post" action="/events/delete">
                    <input class="bg-light form-control" type="text" name="cod" placeholder="Código del event" />
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button type="sumbit" class="btn btn-primary">Delete event</button><br></form>
            </div>
        </div>
    </div>
</section>
    <div class="container text-center">
        <p>Copyright ©&nbsp;Favrik 2022</p>
    </div>
</footer>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/assets/js/grayscale.js"></script>
</body>

</html>