<!DOCTYPE html>
<html>

{{> head}}

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
<nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand" href="#">FAVRIK</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu">
        </button><a href="/login"><i class="fa fa-user"></i></a>
        <i></i>
        </button><a href="/home"><i class="fa fa-home"></i></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item nav-link"><a class="nav-link " href="/index">Home</a></li>
                <li class="nav-item nav-link"><a class="nav-link " href="/events">Eventos</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="/OurSpace">Our Space</a></li>
                <li class="nav-item nav-link"><a class="nav-link " href="/AboutUs">About US</a></li>
                <li class="nav-item nav-link"><a class="nav-link" href="/Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead" style="background-image:url('/assets/img/fabrik-header2.jpg');">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">FAVRIK</h1>
                    <p class="intro-text">La primera discoteca de influencia rutera en <br>MADRID<br>★★★★★</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="text-center content-section" id="about">
    <div class="container">
<div class="row" >
    <div class="col-lg-8 mx-auto">
        <h2>About FAVRIK</h2>
        <p>Somos la primera makro diskoteke de influencia bakala en la comunidad de Madrid</p>
        <button class="btn btn-primary btn-lg btn-default"onclick="location.href='/AboutUs'" type="button">Lee más sobre nosotros</button><br>
    </div>
</div>
</div>
</section>
<section class="text-center download-section content-section" id="download" style="background-image:url('/assets/img/header-bakano.jpeg');">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h1>Nuestros eventos</h1>
            <p>¡No te pierdas nuestros proximos eventos!</p><button class="btn btn-primary btn-lg btn-default" type="button" onclick="location.href='/events'">Consultar Eventos</button>
        </div>
    </div>
</section>
<section class="text-center download-section content-section"  >
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h1>¿Te has perdido?</h1>
            <p>Si estás aquí es porque estás más desubicao que un bakala en el parking de masía</p>
            <p>Usa nuestro buscador anda...</p>
            <form class="form-control" method="get" action="/events/query/"><input class="bg-light form-control" type="text" name="query" placeholder="Intenta recordar el nombre del evento..." />
                <button type="sumbit" class="btn btn-primary">Encuentra la felicidad</button>
            </form>
            <br>
            <p>Prefieres buscar por género?</p>
            <form class="form-control" method="get" action="/events/querybygender/">
                <select name="gender">
                    <optgroup label="gender">
                        <option  value="techno" >Techno</option>
                        <option  value="reggaeton">Reggaeton</option>
                        <option  value="trap">Trap</option>
                    </optgroup>
                </select>
                <br>
                <button type="sumbit" class="btn btn-primary">Encuentra la felicidad</button>
            </form>
        </div>
    </div>
</section>



<div class="map-clean"><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.3756598110936!2d-3.874059284713238!3d40.33401187937491!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e7b0cd42735%3A0xf373ecb9da347102!2sPiguis%20Bar!5e0!3m2!1ses!2ses!4v1646498821014!5m2!1ses!2ses" width="100%" height="450"></iframe></div>
<footer>
    <div class="container text-center">
        <p>Copyright ©&nbsp;Favrik 2022</p>
    </div>
</footer>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/grayscale.js"></script>
</body>
</html>